<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>65k.news - Vox Edition</title>
</head>
<body >
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td >
                <h1>65k.news</h1>
                <small>Vox.com simplified for vintage web.</small>
            </td>
        </tr>
    </table>
    
    <hr>

    {% if articles %}
        <ul>
        {% for article in articles %}
            <li>
                <b><a href="{{ article.proxy_url }}">{{ article.title }}</a></b><br>
                <small>{{ article.published_at }}</small>
                <br><br>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No articles found.</p>
    {% endif %}

    <hr>
    <center>
        <small>Powered by Vox RSS | <a href="https://github.com/ActionRetro/68k-news">Inspired by 68k.news</a></small>
    </center>
</body>
</html>