<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>65k.news</title>
</head>
<body >
    <center>
        <h1>65k.news</h1>
        <small>News with simplified HTML for 8-bit computers.</small>
        {% if feed_toggles %}
        <p>
            {% for toggle in feed_toggles %}
                <a href="{{ toggle.url }}">[{{ 'x' if toggle.enabled else ' ' }}] {{ toggle.name }}</a>&nbsp;
            {% endfor %}
        </p>
        {% endif %}
    </center>
    <hr>
    {% if articles %}
        {% for article in articles %}
                <b><a href="{{ article.proxy_url }}">{{ article.title }}</a></b><br>
                <small>Posted on <span class="date" data-iso="{{ article.published_iso }}">{{ article.published_at }}</span></small>
                <br><br>
        {% endfor %}
    {% else %}
        <p>No articles found.</p>
    {% endif %}
    <hr>
    <center>
        <small>Powered by Vox RSS</small>
    </center>
<script>
(function() {
    var dates = document.querySelectorAll('.date');
    for (var i = 0; i < dates.length; i++) {
        var el = dates[i];
        var iso = el.getAttribute('data-iso');
        if (iso) {
            var d = new Date(iso);
            if (!isNaN(d.getTime())) {
                var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                var day = d.getDate();
                var month = months[d.getMonth()];
                var year = d.getFullYear();
                var hours = d.getHours();
                var minutes = "0" + d.getMinutes();
                var formatted = day + ' ' + month + ' ' + year + ' | ' + hours + ':' + minutes.substr(-2);
                el.textContent = formatted;
            }
        }
    }
})();
</script>
</body>
</html>